<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title pacifico larger-text">
        Modern web store
      </h1>

      <div class="columns is-mobile">
        <div class="column is-half is-offset-one-quarter">
          <div class="control">
            <input class="input is-large" type="text" placeholder="Usuario">
          </div>

          <div class="control">
            <input class="input is-large" type="password" placeholder="Senha">
          </div>
          <br>
          <p>
            <a class="button is-primary is-inverted is-outlined is-large is-fullwidth">ENTRAR</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>